html{ 
font-family: sans-serif; 
}

body{
background-color: #eee;
}

hr {
display: block;
height: 1px;
border: 0;
border-top: 1px solid #ccc;
margin: 1em 0;
padding: 0;
}

.text-shadow {
text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
